.w-full {
  width: 100%;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semibold {
  font-weight: 600;
}

.overline {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.mono {
  font-family: "Source Code Pro", monospace;
}

.list-style-none {
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

.ml-4 {
  margin-left: 1rem;
}

.text-align-center {
  text-align: center;
}

.color-primary {
  color: var(--primary);
}

.color-primary-dark {
  color: var(--primary-dark);
}

.bg-color-secondary-light {
  background-color: var(--secondary-light);
}

.bg-color-background-dark {
  background-color: var(--background-dark);
}
.bg-color-background-gray {
  background-color: var(--background);
}
.content_icon {
  position: relative;
  padding-left: 2.5rem;
}
.icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
}

.img_border {
  border-radius: 8px;
}
/* .margin-left-1x {
  margin-left: 1rem;
}

.margin-left-2x {
  margin-left: 2rem;
}

.margin-left-3x {
  margin-left: 3rem;
} */ ;
